*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.main_box{
    background: url("photo.jpg");
    height: 100vh;
}

.btn_one{
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 16px;
    line-height: 60px;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;width: 300px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 8px rgba(255, 255, 255, .5);
    left: -300px;
    transition: all .3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, .5);
    line-height: 60px;
    height: 60px;
}

.btn_two i{
    color: gray;
    position: absolute;
    font-size: 25px;
    line-height: 60px;
    left: 260px;
    opacity: 0;
    cursor: pointer;
}

.sidebar_menu .logo a {
    position: absolute;
    color: #fff;
    left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.sidebar_menu .menu{
    /* color: #fff; */
    position: absolute;
    width: 100%;
    top: 80px;
    
}

.sidebar_menu .menu li{
    margin: 10px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a{
    color: #fff;
    font-size: 20px;
    /* font-weight: 400; */
    text-decoration: none;
}

.sidebar_menu .menu i {
    padding-right: 10px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    opacity: .5;
    padding-right: 10px;
    font-size: 20px;
}

#check{
    display: none;
}

/* hover effect */
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, .5);
}

.btn_one i:hover{
    font-size: 35px;
}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    transform: scale(1.2);
    opacity: 1;
}

#check:checked ~.sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i {
    transition: all .3s linear;
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    transition: all .3s linear;
    opacity: 1;
}